*{
  box-sizing: border-box;
}
.compliteProf{
  display: flex;
  width: 9rem; 
 
}
.compliteProf > .item{
  padding: 1rem;
  color:black;
  font-weight: bold;
  border: 1px solid black;
  border-radius:5px ;
}
.present{
  font-size: 1rem;
  background-color: rgb(252, 229, 26);
}
.jumbotron{
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}
.container5{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sub-nav{
max-width: 10%;
max-height: 100%;
align-items: flex-start;
display: flex;
justify-content: flex-end;
justify-content: space-around;
}
.con{
  height: 100%;
  display: flex;
  flex-direction: column;
 
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.con > span{
  color:rgb(197, 24, 24);
}
#rotate-scale-up-diag-1{
 
	-webkit-animation: rotate-scale-up-diag-1 0.7s linear both;
	        animation: rotate-scale-up-diag-1 0.7s linear both;
}
 @-webkit-keyframes rotate-scale-up-diag-1 {
    0% {
      -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
              transform: scale(1) rotate3d(1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: scale(2) rotate3d(1, 1, 0, -180deg);
              transform: scale(2) rotate3d(1, 1, 0, -180deg);
    }
    100% {
      -webkit-transform: scale(1) rotate3d(1, 1, 0, -360deg);
              transform: scale(1) rotate3d(1, 1, 0, -360deg);
    }
  }
  @keyframes rotate-scale-up-diag-1 {
    0% {
      -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
              transform: scale(1) rotate3d(1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: scale(2) rotate3d(1, 1, 0, -180deg);
              transform: scale(2) rotate3d(1, 1, 0, -180deg);
    }
    100% {
      -webkit-transform: scale(1) rotate3d(1, 1, 0, -360deg);
              transform: scale(1) rotate3d(1, 1, 0, -360deg);
    }
  }
  